.setting-button {
  display: block;
  position: absolute;
  top: 12rem;
  margin-left: 1rem;
  height: 45px;
  width: 45px;
  /* box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5); */
  color: rgb(255, 255, 255);
  border-radius: 50px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
  border: none;
  
}

.setting-svg svg { 
  position: relative;
  height: 45px;
  width: 45px;
}

.setting-button:hover { 
  background-color: rgba(255, 255, 255, 0.144);
}





@media all and (max-width: 550px) {
  .setting-button {
    position: absolute;
    top: 13.8rem;
    right: 7.5rem;
  }
}

@media all and (max-width: 450px) { 
  .setting-button {
    /* margin-top: -230px; */
    right: 3.8rem;
    top: 14rem;
    height: 45px;
    width: 45px;
  }
}

@media all and (max-width: 375px) {
  .setting-svg svg {
    position: relative;
    top: 2px;
    height: 35px;
  }
  .setting-button {
    /* margin-top: -230px; */
    right: 3.8rem;
    top: 12.5rem;
    height: 45px;
    width: 45px;
  }
}
