@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,26,54,1) 0%, rgba(24,15,42,1) 100%);
  overflow-x: hidden;
  width: 100vw;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(69, 74, 118);
  border-radius: 10px;
}

.Home {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.svgs { 
  position: relative;
  top: 3px;
  height: 35px;
  width: 35px;
  /* background-color: aquamarine; */
}
